.react-tabs__tab--selected{
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    border: none;
}

.custom-tab:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}